<!DOCTYPE html>
<html lang="en-HK">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{{ description }}">

    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="../static/css/blog_post.css">
    <link rel="stylesheet" href="../static/css/a11y-dark.css">
    <link rel="stylesheet" href="../static/css/highlightjs-copy.min.css">
</head>

<body a="auto">
<main class="page-content" aria-label="Content">
    <div class="w">
        <a href="../">..</a>


        <article>
            <p class="post-meta">
                <time>
                    {{ time }}
                </time>
            </p>

            <h1>{{ title }}</h1>
            {{ markdown|safe }}
        </article>

    </div>
</main>

</body>
<script src="../static/js/highlight.min.js"></script>
<script src="../static/js/highlightjs-copy.min.js"></script>
<script src="../static/js/hightlight.js"></script>
</html>