<!DOCTYPE html>
<html lang="en-HK">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" href="static/css/blog_index.css">
</head>
<body a="auto">
<main class="page-content" aria-label="Content">
    <div class="w">

        <header>
            <h1>{{ title }}</h1>
            <p>{{ motto }}</p></header>

        <ul>
            <li>about</li>
            <ul>
                {% for about in abouts %}
                <li>{{ about|safe }}</li>
                {% endfor %}
            </ul>

            <li>projects</li>
            <ul>
                {% for project in projects %}
                <li>
                    <a href="{{ project.url }}">{{ project.name|safe }}</a>
                </li>
                {% endfor %}
            </ul>

            <li>friends</li>
            <ul>
                {% for friend in friends %}
                <li><a href="{{ friend.url }}">{{ friend.name|safe }}</a></li>
                {% endfor %}
            </ul>

            <li>all posts</li>
            <ul>
                {% for post in posts %}
                <li>
                    <span>{{ post.time|safe }}</span>
                    <a href="{{ post.url }}">{{ post.name|safe }}</a>
                </li>
                {% endfor %}
            </ul>

        </ul>
    </div>
</main>


</body>
</html>